<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] is { } s ? (s + " - Estral Gif manager") : "Estral Gif manager")</title>
    <link href="/layout.css" rel="stylesheet" />
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav id="header-nav">
            <a href="/">Home</a>
            <a href="/Gifs">Gifs</a>
            <a href="/Groups">Groups</a>
            @if (User.IsAuthenticated())
            {
                <a href="/Auth/Logout">log out</a>
            }
            else
            {
                <a href="/Auth/Login">Log in</a>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
