@page "/"
@model Estral.Gif.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<article id="page">
    <div>
        <h2>Manage gifs and stuff :)</h2>
        <a href="https://github.com/svee4/Estral.Gif">Github</a>
    </div>

</article>
