@page "/Auth/Login"
@model Estral.Gif.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

<article id="page">
    <a href="@Model.LoginUrl" class="link-button">
        Login
    </a>
</article>
